/* navbar section */
html{
    scroll-behavior: smooth;
}
#navbar{
    flex-direction:column;
}
#navbar ul li a{
    font-size: 0.9rem;
    padding: 0px 5px;
}
#navbar ul{
    display: flex;
    align-items: center;
    margin: 4px -40px;
    padding: 0px 15px;
}
/* home section */
#home{
 padding:0px 30px;
}
#home::before{

}
#home h1{
    font-size: 28px;
}
#home p{
    font-size: 9px;
}
.btn{
    padding: 0px 7px;
}
/* container section */
#services{
    /* display:flex; */
    flex-direction:column;
    margin: 0px 2px;
}
#services .box {
    border: 2px solid red;
    padding: 23px;
    margin: 23px;
    border-radius: 23px;
    background-color: #fff6f6;
}


.h-primari{
    width: 172px;
    font-size: 1.8rem;
}
/* client section */
#client{
    overflow: hidden;
}
.client-item {
    padding: 58px 13px;
}
#client img {
    height: 48px;
}
/* contacts section */
/* footer section */